<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">ADONIS CAR SHOP ADMINISTRADOR</div>
        <div class="list-group list-group-flush">
          <div>
              <a href="/clientes" class="list-group-item list-group-item-action bg-light">CLIENTES</a>
          </div>
          <div>
              <a href="/mecanico_responsable" class="list-group-item list-group-item-action bg-light">MECANICOS</a>
          </div>
          <div>
              <a href="/repuestos" class="list-group-item list-group-item-action bg-light">REFACCIONES</a>
          </div>
          <div>
              <a href="/factura" class="list-group-item list-group-item-action bg-light">TRANSACCIONES</a>
          </div>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">OCULTAR MENU</button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">MENU PRINCIPAL<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">VIDEO EXPLICACION</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <h1 class="mt-4 mb-3">Seccion de Refacciones</h1>
          <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                  <img class="card-img-top" src="https://i.pinimg.com/originals/23/b6/e7/23b6e77579244e66a0082797732fcbfd.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">AGREGAR REFACCION</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Registrar parto o refaccion de vehiculo a la base de datos del taller</h6>
                    <a href="/repuestos/crear" class="btn btn-primary">Agregar Refaccion &rarr;</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                  <img class="card-img-top" src="https://blog.oncallinternational.com/wp-content/uploads/2017/04/Medical-Paperwork-on-Clipboard.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">APARTADO HOJAS DE PARTES</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Seccion para realizar una solicitud de obtencion/uso de refaccion o pieza para el mantenimiento del vehiculo</h6>
                    <a href="/hoja_de_parte" class="btn btn-primary">Ir a Hojas de Partes &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#repuestos">REPUESTOS</a></li>
              <li><a data-toggle="tab" href="#hojas">HOJAS DE PARTES</a></li>
              <li><a data-toggle="tab" href="#mecanicos">MECANICOS</a></li>
            </ul>
            <div class="tab-content">
              <div id="repuestos" class="tab-pane fade in active">
                <div class="jumbotron text-center">
                  <h3>CLIENTES REGISTRADOS</h3>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th>ID REFACCION</th>
                        <th>DESCRIPCION DE REFACCION</th>
                        <th>COSTO DE REFACCION</th>
                        <th>PRECIO DE VENTA</th>
                        <th>IMPORTE PARCIAL POR PIEZA</th>
                        <th>ID DE HOJA</th>
                        <th>ID MECANICO ASIGNADO</th>
                      </tr>
                    </thead>
                    <tbody>
                      @each(repuesto in repuestos)
                        <tr>
                          <td>{{repuesto.id}}</td>
                          <td>{{repuesto.DESCRIPCION}}</td>
                          <td>{{repuesto.COSTOUNIT}}</td>
                          <td>{{repuesto.PRECIOUNIT}}</td>
                          <td>{{repuesto.IMP_PARCIAL}}</td>
                          <td>{{repuesto.idHOJADEPARTE}}</td>
                          <td>{{repuesto.idMECANICODEPARTE}}</td>
                          <td>
                            <li>
                              <a class="btn btn-primary" href="/repuestos/editar/{{repuesto.id}}">Editar</a>
                            </li>
                          </td>
                          <td>
                            <li>
                              <a class="btn btn-primary" href="/repuestos/eliminar/{{repuesto.id}}">Eliminar</a>
                            </li>
                          </td>
                          </td>
                        </tr>
                      @endeach
                    </tbody>
                </table>
              </div>
              <div id="hojas" class="tab-pane fade">
                <div class="jumbotron text-center">
                  <h3>HOJAS DE PARTES</h3>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID HOJA</th>
                      <th>CONCEPTO DE LA REPARACION</th>
                      <th>CANTIDAD DE REFACCIONES</th>
                      <th>OBJETO A REPARAR</th>
                    </tr>
                  </thead>
                  <tbody>
                    @each(hoja in hojas)
                    <tr>
                      <td>{{hoja.id}}</td>
                      <td>{{hoja.CONCEPTO}}</td>
                      <td>{{hoja.CANTIDAD}}</td>
                      <td>{{hoja.REPARACION}}</td>
                    </tr>
                    @endeach
                  </tbody>
                </table>
              </div>
            <div id="mecanicos" class="tab-pane fade">
              <div class="jumbotron text-center">
                <h3>TABLA DE MECANICOS</h3>
              </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID MECANICO</th>
                      <th>NOMBRE</th>
                      <th>DIRECCION</th>
                      <th>TELEFONO</th>
                    </tr>
                  </thead>
                  <tbody>
                    @each(mecanico in mecanicos)
                      <tr>
                        <td>{{mecanico.id}}</td>
                        <td>{{mecanico.NOMBRE}}</td>
                        <td>{{mecanico.DIRECCION}}</td>
                        <td>{{mecanico.TEL}}</td>
                      </tr>
                    @endeach
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
